<html>
  <head>
    <title>CmpE283 Project 2</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>    
    <link href='/stylesheets/navbar-static-top.css' rel="stylesheet">
  </head>
  
  <style>
  table, th, td {
     border: 2px solid white;
  }
  </style>
  
  <body>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header"><a href="/" class="navbar-brand">Home</a></div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">Log Out</a></li>
          </ul>
        </div>
      </div>
    </nav> 
    
    <div ng-app="myApp" ng-controller="myCtrl">
    <form name="createForm" method="post" novalidate>
    <table style="width:100%">
    <br>
    <tr>
    <th rowspan="4">
    <div style="width:600px; margin:0 auto;">
    <textarea class="form-control" rows="4" id="record" name="record" placeholder="type in record in JSON format" ng-model="record"></textarea> 
    </div></th>
    <td>
    <div style="width:200px; margin:0 auto;">
        <button ng-click="add();" type="submit" class="btn btn-primary btn-lg btn-default btn-block">Add</button> 
    </div>
    </td>
    </tr>
    
    <tr>
        <td>
        <div style="width:200px; margin:0 auto;">
        <button ng-click="get();" type="submit" class="btn btn-primary btn-lg btn-info btn-block">Get</button> 
        </div>
        </td>
    </tr>
    
    <tr>
        <td>
        <div style="width:200px; margin:0 auto;">
        <button ng-click="update();" type="submit" class="btn btn-primary btn-lg btn-default btn-block">Modify</button> 
        </div>
        </td>
    </tr>
    
    <tr>
        <td>
        <div style="width:200px; margin:0 auto;">
        <button ng-click="delete();" type="submit" class="btn btn-primary btn-lg btn-danger btn-block">Delete</button> 
        </div>
        </td>
    </tr>
    <tr>
        <th>
        <div style="width:600px; margin:0 auto;">
        <textarea class="form-control" rows="1" id="modify" name="modify" placeholder="type in modified record in JSON format" ng-model="modify"></textarea> 
        </div></th>
    </tr>
    </table>
    </form>
    
    <div style="width:200px; margin:0 auto;">
            {{ msg }}
    </div>
    
    </div> 
 </body>
 
 <script>
    var app = angular.module('myApp',[]);
    app.controller('myCtrl', function($scope, $http)
    {
        $scope.add=function(){
            $scope.msg = $scope.record + " added into mongodb successfully";
            $http.post('/management/add', {record: $scope.record}).then(function (data) {
                // send data
            });
        } 
        $scope.get=function(){
            $http.post('/management/get', {record: $scope.record}).then(function (data) {
                // send data
            });            
            $http.get('/management/getRecord'
            ).success(function (data, status, headers, config) {
                //do sth after get success
                var list = [];
                $scope.msg = data;
            }).error(function (data, status, headers, config) {
                //
            });
        }
        $scope.update=function(){
            $scope.msg = $scope.record + " modifieded to " + $scope.modify + " successfully";
            $http.post('/management/update', {record: {record: $scope.record, modify : $scope.modify}}).then(function (data) {
                
            });
        }
        $scope.delete=function(){
            $scope.msg = $scope.record + " deleted from mongodb successfully";
            $http.post('/management/delete', {record: $scope.record}).then(function (data) {
                
            });
        }
    });
 </script>
</html>