extends ../layouts/default

block main
  h1= title

block content
  - if (databases.length)
    - each database in databases
      include database

    - if (pages > 1)
      ul.pagination
        != createPagination(pages, page)
  - else
    h4.muted No databases.&nbsp;
      a(href="/databases/new") create one
